{% extends "base.html.twig" %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {% for categ in category %}
        <h2>{{ loop.index }} / {{categ.id}} - Catégorie : {{categ.name}}</h2>
    {% else %}
        <p>aucune catégorie trouvée</p>
    {% endfor %}

{% endblock %}