{% extends 'base.html.twig' %}

{% block title %}Edit UserSpecial{% endblock %}

{% block body %}
    <h1>Edit UserSpecial</h1>

    {{ include('user_special/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_special_index') }}">back to list</a>

    {{ include('user_special/_delete_form.html.twig') }}
{% endblock %}
