{% extends 'base.html.twig' %}

{% block title %}New UserSpecial{% endblock %}

{% block body %}
    <h1>Create new UserSpecial</h1>

    {{ include('user_special/_form.html.twig') }}

    <a href="{{ path('app_user_special_index') }}">back to list</a>
{% endblock %}
